<script>
window.fbAsyncInit = function() {
   FB.init({
     appId      : '<%= Figaro.env.facebook_app_id %>',
     xfbml      : true,
     version    : 'v2.6'
   });

 };

 (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk')
 );

 function confirmOptIn() {
  FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
    'app_id':'<%= Figaro.env.facebook_app_id %>',
    'page_id':'<%= Figaro.env.facebook_page_id %>',
    'ref':'PASS_THROUGH_PARAM',
    'user_ref':'<%= @uniq_user_ref %>'
  });
}
</script>      
     
<div class="fb-messenger-checkbox"  
 origin="<%= @request.base_url %>"
 page_id="<%= Figaro.env.facebook_page_id %>"
 messenger_app_id="<%= Figaro.env.facebook_app_id %>"
 user_ref="<%= @uniq_user_ref %>" 
 prechecked="true" 
 allow_login="true" 
 size="large"></div>

 <input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>

<h1>Pages#index</h1>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>